<ion-view view-title="Menu">


	<ion-nav-buttons side="right">
        <panier-ouvrir></panier-ouvrir>
    </ion-nav-buttons>

<ion-content class="padding back-articles">


<div class="card" ng-show="!articles">
  <div class="item item-text-wrap">
    Vous avez aucune favoris ...
  </div>
</div>


	<div class="list">

	    	<div
          ng-repeat="article in articles"
          ng-click="voir(indexDe(article))"
          class="item item-thumbnail-left"
	    	>
	    		<img 
            ng-src="{{imageUrl(article.id)}}"
            detect-img 
          >
	    		<h3>{{article.nom}} - {{article.id}}</h3>
	    		<p>{{article.description}}</p>
	    		<p ng-show="article.prix>0">Prix : {{article.prix}}€</p>
          <p ng-show="article.prix<=0">Prix : petite {{article.prix1}}€, moyenne {{article.prix2}}€, grande {{article.prix3}}€</p>
	    		<div class="droite"><button class="button bt-ajouter button-energized" >Ajouter</button>
        </div>

	      	</div>


	</div>

  </ion-content>
</ion-view>