<ion-view title="Panier">

  <ion-content class="padding back-articles">

    <div class="card" ng-show="getTotalPrix()<=0">
      <div class="item item-text-wrap panier-vide">
        <h2>Votre panier est vide.</h2>
      </div>
    </div>

    <div class="list">
      <div     
      ng-repeat="article in articles track by $index"
      >
  	    <a
            ng-click="voir(indexDe(article))"
            class="item item-thumbnail-left"
        >
            <img 
            ng-src="{{imageUrl(article.id)}}"
            detect-img 
          >
  	    		<h3>{{article.nom}}</h3>
            <p>Qte : {{article.quantite}}</p>

            <p>{{article.total}}€</p>

          <div class="droite">
            <button class="button bt-ajouter button-energized" >
              Modifier
            </button>
          </div>
  	    </a>
      </div>
    </div>

  <div class="card">
    <div class="item item-text-wrap">

      <div class="text-droite"><h2>total :{{getTotalPrix()}}€</div>

    </div>
  </div>

  <a 
    ng-hide="conn"
    class="button button-block button-balanced"
    ui-sref="app.login">
    se connecter
  </a>

  <a
    ng-if="getTotalPrix()>0 && conn===true"
    href="#/app/livraison"
    nav-direction="enter"
    class="button button-block button-balanced"
  >
    Choisissez votre type de livraison
  </a>

  </ion-content>
</ion-view>
