<ion-view title="Panier">


  <ion-content>


    <div class="card" ng-show="getTotalPrix()<=0">
      <div class="item item-text-wrap panier-vide">
        <h2>Votre panier est vide.</h2>
      </div>
    </div>


    <div class="list">
      <div
      class="card" 
      ng-repeat="article in articles track by $index"
      >
  	    <a
            ng-click="voir(indexDe(article))"
            class="item item-thumbnail-left"
        >
            <img src="img/article-pizza.jpeg" alt="">
  	    		<h3>{{article.nom}}</h3>
            <p>Qte : {{article.quantite}}</p>

            <p>{{article.total}}€</p>

          <div class="droite">
            <button class="button bt-ajouter" >
              Modifier
            </button>
          </div>
  	    </a>
      </div>
    </div>

  <div class="card">
    <div class="item item-text-wrap">

      <div class="text-droite"><h2>total :{{getTotalPrix()}}€</div>

    </div>
  </div>

  <a
    ng-show="getTotalPrix()>0"
    href="#/app/caisse"
    nav-direction="enter"
    class="button button-full">
    Passer au paiement
  </a>

  </ion-content>
</ion-view>
