<ion-view title="Panier">


  <ion-content>

    <div class="list">	   
	    <a  ng-repeat="article in articles track by $index"          
          ng-click="voir(indexDe(article))"

          class="item item-thumbnail-left"
      >   
          <img src="img/article-pizza.jpeg" alt="">   
	    		<h3>{{article.nom}}</h3>
          <p>Qte : {{article.quantite}}</p>

          <p>{{article.total}}€</p>

        <div class="droite">
          <button class="button bt-ajouter" >
            Modifier
          </button>
        </div>     	
	    </a>
    </div>

  <div class="card">
    <div class="item item-text-wrap">

      <div class="text-droite"><h2>total :{{getTotalPrix()}}€</div>

    </div>
  </div>

  </ion-content>
</ion-view>
