
<form ng-submit="connecter(login)">
<ion-view title="Login" hide-back-button="true">

  <div class="back-pizza"></div>
   
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
        <panier-ouvrir></panier-ouvrir>
  </ion-nav-buttons>


  <ion-content class="padding">

  <div class="list form-login">
    <label class="item item-input input-invisible">
      <span class="input-label">Email</span>
      <input type="email" ng-model="login.email" required >
    </label>
    <label class="item item-input input-invisible">
      <span class="input-label">Mot de passe</span>
      <input type="password" ng-model="login.passe" required>
    </label>
  </div>

    <button type="submit" class="button button-block button-positive">
      Se connecter
    </button>
    <button class="button button-block button-clear  login-oublie">
      ou
    </button>
    <a ui-sref="app.senregistrer" class="button button-block button-balanced">
      S'inscrire
    </a>
    <button class="button button-block button-clear  login-oublie">
      Vous avez oublié votre <u>mot de passe</u> ?
    </button>



  </ion-content>


</ion-view>


</form>