<form ng-submit="connecter(login)">
<ion-view title="Menu">


    
  <ion-content class="padding">


<div class="list form-login">
  <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="email" ng-model="login.email" required>
  </label>
  <label class="item item-input">
    <span class="input-label">Mot de passe</span>
    <input type="password" ng-model="login.passe" required>
  </label>
</div>





  </ion-content>

<div style="position: absolute; bottom: 0px; width: 100%; ">
  <div style="width:96%; margin-left:auto; margin-right:auto;">
    <button type="submit" class="button button-block button-positive">
      Se connecter
    </button>
    <button class="button button-block button-clear button-dark">
      Vous avez oublié votre <u>mot de passe</u> ?
    </button>
  </div>
</div>
</ion-view>


</form>