<ion-view view-title="Menu">

    <ion-nav-bar class="bar-stable">
   
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>


      <ion-nav-buttons side="right">
        <panier-ouvrir></panier-ouvrir>
    </ion-nav-buttons>

    </ion-nav-bar>

  <ion-content class="padding">
	
	<div class="list">

	    	<div 
			ng-repeat="article in articles | filter:{categorie:catId}"
	    	ng-click="voir(indexDe(article))"
	    	class="item item-thumbnail-left"
	    	>	
	    		<img src="img/article-pizza.jpeg" alt="">     
	    		<h3>{{article.nom}}</h3>
	    		<p>{{article.description}}</p>
	    		<p>Prix : {{article.prix}}€</p>
	    		<div class="droite"><button class="button bt-ajouter" >
					Ajouter
			</button></div>
				
	      	</div>
	      	

	</div>

  </ion-content>
</ion-view>
