/* Empty. Add your own CSS if you like */


.articles-border{
	border:1px solid #ddd;
	height:45px;
	text-align:right;
}
.articlesborderback{
	background:red;
}
.articles-ajouter{
	border:1px solid #ddd;
	height:50px;
	background:red;
}

.popup-container.popup {
  width: 400px;
  height: 350px;
}
.item-icon-right .icon-accessory.big{
	color:#111;
}
.prix-pizza{
	font-size: 16px;
}
.button-bar > .button{
	padding:0 0px;
}
.droite{
	text-align: right;
}
.centre{
	text-align: center;
}
.modal-top{
	margin:0px;
	background: #E67E22;
}
.modal-bt-annuler{
	font-size: 16px;
	color:#fff;
}
.quantite{
	text-align: center;
	font-size: 16px;

}
.card .item.article{
	border:0;
}
.article-total {
	font-size: 16px;
	text-align: right;
}
div.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}
.bar .title {
	text-decoration:none;
}
.badge.badge-assertive.header-badge{
  top: -40px;
  left: 11px;
}
.bt-ajouter {
	margin-top: 20px;
}
.form-icon-required {
	margin-right:10px;
}
.slider-pager {
	top: 10px;
	bottom: initial;
}
.senregistrer-space-top{
	margin-top: 70px;
}
.form-valid-ville{
	float:right;
	background: red;
	margin-right: 0px;
}
.alert-email{
	background:#E74C3C;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding:8px;
	margin-top:20px;
	margin-bottom:20px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.form-login{
	margin-top: 100px;
}
.panier-vide{
	padding:100px;
}
.back-pizza{
	background: url("../img/back-pizzao.jpg") no-repeat center center fixed;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-size: cover;
}
.back-blur{
	background: url("../img/back-pizza.jpg") no-repeat center center fixed;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-size: cover;
}
.button.login-oublie{
	color:#000;
}
.input-invisible{
	opacity: 0.9;

}
.button.no-opacity{
	opacity: 1;
}

.back-menu{
	background:#2C3E50;
}
.back-menu .list{
	background-color: transparent;
}
.bottom-space{
	height:80px;
}