/* Empty. Add your own CSS if you like */


.articles-border{
	border:1px solid #ddd;
	height:45px;
	text-align:right;
}
.articlesborderback{
	background:red;
}
.articles-ajouter{
	border:1px solid #ddd;
	height:50px;
	background:red;
}

.popup-container.popup {
  width: 400px;
  height: 350px;
}
.item-icon-right .icon-accessory.big{
	color:#111;
}
.prix-pizza{
	font-size: 16px;
}
.button-bar > .button{
	padding:0 0px;
}
.droite{
	text-align: right;
}
.modal-top{
	margin:0px;
	background: #E67E22;
}
.modal-bt-annuler{
	font-size: 16px;
	color:#fff;
}
.quantite{
	text-align: center;
	font-size: 16px;

}
.card .item.article{
	border:0;
}
.article-total {
	font-size: 16px;
	text-align: right;
}
div.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}
.bar .title {
	text-decoration:none;
}